@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--dark: rgb(38, 38, 38);
	--whiteish: #f0f0f0; /* White */
	--primary: #3f594b; /* Dark Green */
	--secondary: #2a9d8f; /* Light Green */
	--dark-primary: #2a3c32; /* Darker Green */
	--accent: #e9c46a; /* Yellow */
	--light-accent: #f7eaca; /* Light Yellow */
	--secondary-accent: #f4a261; /* Orange */
	--dark-secondary-accent: #e76f51; /* Dark Orange */
	--main-red: #e63946; /* Red */
}
body {
	min-height: 100vh;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
}

a {
	text-decoration: none;
}

/* Toast */

.alert-add-to-cart {
	--alert-bg: var(--primary);
	color: var(--whiteish);
	border-color: var(--primary);
}

.alert-wishlist {
	--alert-bg: var(--light-accent);
	color: var(--dark);
	border-color: var(--light-accent);
}

.toast:where(.toast-top) {
	top: 50px;
}

/* Swiper */

.swiper-button-disabled {
	opacity: 0.5;
}

.swiper-button-disabled button {
	cursor: not-allowed;
}

.swiper.thumb-image .swiper-slide {
	opacity: 0.4;
}

.swiper.thumb-image .swiper-slide-thumb-active {
	opacity: 1;
}

/* Alerts */

.alert-warning {
	--alert-bg: var(--main-red);
}

.input-warning {
	border-color: var(--main-red);
}

/* Table */

.table :where(th, td) {
	padding-left: 0;
    padding-right: 2rem;
}
