@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
}

a {
	text-decoration: none;
}

.alert-add-to-cart {
	--alert-bg: var(--primary);
	color: var(--whiteish);
	border-color: var(--primary);
}

.alert-wishlist {
	--alert-bg: var(--light-accent);
	color: var(--dark);
	border-color: var(--light-accent);
}

.toast:where(.toast-top) {
	top: 50px;
}
